<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>eCommerceApp</display-name>
  <welcome-file-list>
    <welcome-file>loginForm.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetAllUsersServlet</display-name>
    <servlet-name>GetAllUsersServlet</servlet-name>
    <servlet-class>servlets.GetAllUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUsersServlet</servlet-name>
    <url-pattern>/GetAllUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrievePasswordServlet</display-name>
    <servlet-name>RetrievePasswordServlet</servlet-name>
    <servlet-class>servlets.RetrievePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrievePasswordServlet</servlet-name>
    <url-pattern>/RetrievePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertUserServlet</display-name>
    <servlet-name>InsertUserServlet</servlet-name>
    <servlet-class>servlets.InsertUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUserServlet</servlet-name>
    <url-pattern>/InsertUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnSearchResultServlet</display-name>
    <servlet-name>ReturnSearchResultServlet</servlet-name>
    <servlet-class>servlets.ReturnSearchResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnSearchResultServlet</servlet-name>
    <url-pattern>/ReturnSearchResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteUpdatePasswordServlet</display-name>
    <servlet-name>ExecuteUpdatePasswordServlet</servlet-name>
    <servlet-class>servlets.ExecuteUpdatePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteUpdatePasswordServlet</servlet-name>
    <url-pattern>/ExecuteUpdatePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>servlets.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchResultServlet</display-name>
    <servlet-name>SearchResultServlet</servlet-name>
    <servlet-class>servlets.SearchResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchResultServlet</servlet-name>
    <url-pattern>/SearchResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>